<%- include('../partials/header') %>

<form action="/skills/<%= skill.id %>?_method=PUT" method="POST">
  <label for="">Edit Skill:</label>
  <input type="text" name="skill" value="<%= skill.skill %>">

  <label for="">Edit Description:</label>
  <input type="text" name="description" value="<%= skill.description %>">
  <label>
    <input type="checkbox" name="done" <%= skill.done ? 'checked' : '' %>>
    Completed
  </label><br>
  <button type="submit">Update Skill</button>
</form>

<%- include('../partials/footer') %>