<%- include('../partials/header') %>

<h1>Skills:</h1>

<ul>
  <% allSkills.forEach(function(skill) { %>
    <li>
      <form action="/skills/<%= skill.id %>?_method=DELETE"
        method="POST"
        class="delete-form"
      >
        <button type="sumbit">*</button>
    </form>
      <a href="/skills/<%= skill.id %>"><%= skill.skill %></a>
      - 
      <%= skill.done ? 'Completed!' : 'Not Completed!' %>
    </li>
    <% }); %>
  </ul>  
  <a href="/skills/new">Add New Skill</a>

  
  <%- include('../partials/footer') %>